@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&family=Raleway:wght@200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap");

/* Universal CSS */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: Poppins, sans-serif;
  background: #15202b;
  color: #e4e4e4;
  overflow-x: hidden;
}

/* Universal CSS */
/* Overlay Button Starts */
/*Font Controlling */
.overlaybttn a,
.day-text,
.vct h1,
.vct2 h1,
.vct3 h1,
.vct4 h1,
.counter-area h1,
.section-title h1,
h2,
.bus-route h2 {
  font-family: "Pacifico";
}

.developedBy h5,
.developedBy p {
  font-family: "Pacifico";
}

footer ul li span,
h4,
.cpy-rgt {
  font-family: "Pacifico";
}

.day-message,
.btn a,
h5 {
  font-family: "Courgette";
}

.counter-area p,
section table {
  font-family: "Poppins";
}

/*Font Controlling */

.overlaybttn {
  margin: 30px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.overlaybttn .fa-arrow-circle-down,
.overlaybttn .fa-arrow-circle-up {
  color: #17bf63;
}

.overlaybttn a {
  color: white;
  /* font-family: Pacifico; */
  display: inline-block;
  text-decoration: none;
  padding: 10px 10px;
  border-radius: 20px;
  background: #15202b;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.overlaybttn a:hover {
  -webkit-box-shadow: 2px 2px 6px #0b0b0b, -2px -2px 6px #2d2d2d;
  box-shadow: 2px 2px 6px #0b0b0b, -2px -2px 6px #2d2d2d;
}

.overlaybttn a i {
  color: #4285f4;
  font-size: 21px;
}

.overlaybttn a span {
  padding-left: 2px;
  font-size: 20px;
  display: inline-block;
}

/* Overlay Button Ends */
/***************************** Index.html ******************************** */
/* Day Section Starts */
.day-text {
  margin-top: 170px;
  /* font-family: Pacifico; */
}

.day-message {
  color: wheat;
  font-size: 40px;
  /* font-family: Courgette; */
}

.date {
  font-size: 30px;
  color: #17bf63;
}

/* Day Section Ends */
/* Typer Section Starts */
.typer {
  text-align: end;
}

.typer h1 {
  color: #e0245e;
  font-family: Pacifico;
}

/* Typer Section Ends */
/* Vecctor Section Starts */
.vct2 {
  padding: 0px;
  margin-top: 15px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.7;
}

.vct2 h1 {
  color: #e0245e;
}

.vct2 img {
  max-width: 100%;
}

.vct3 {
  padding: 0px;
  margin-top: 15px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.7;
}

.vct3 h1 {
  color: #e0245e;
}

.vct3 img {
  max-width: 80%;
}

.vct h1 {
  color: #e0245e;
}

.vct p {
  margin-top: 15px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.7;
}

.vct img {
  max-width: 80%;
}

.vct4 h1 {
  color: #e0245e;
}

.vct4 p {
  margin-top: 15px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.7;
}

.vct4 img {
  max-width: 100%;
}

.vct p,
.vct2 p,
.vct3 p,
.vct4 p {
  color: #e4e4e4;
}

.vct hr,
.vct2 hr,
.vct3 hr,
.vct4 hr {
  width: 20%;
  background-color: #e0245e;
  padding: 2px;
  border-radius: 30px;
  margin-right: inherit;
  margin-left: inherit;
}

.vct h1,
.vct2 h1,
.vct3 h1,
.vct4 h1 {
  color: #e0245e;
  font-family: Pacifico;
}

.btn {
  margin-top: 30px;
  padding: 10px 20px;
  border: 2px solid #17bf63;
  background-color: transparent;
  border-radius: 25px;
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}

.btn a {
  font-family: Pacifico;
  color: #15202b;
  text-decoration: none;
  color: #17bf63;
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}

.btn:hover {
  background-color: #17bf63;
  border: 2px solid transparent;
}

.btn:hover a {
  color: #15202b;
}

/* Vector Section Ends */
/* Banner Section Starts */
.banner {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url();
  background-size: cover;
  background-attachment: fixed;
}

.banner-overlay {
  padding: 200px 0px;
}

.banner h1 {
  color: #e0245e;
  font-family: Pacifico;
}

.banner p {
  margin-top: 20px;
  color: #e9dddd;
  font-family: Poppins;
}

/* Banner Section Ends */
/* Counter Section Starts */
.counter-area {
  padding: 90px 0px 10px;
}

.counter-area h1 {
  /* font-family: Pacifico; */
  font-size: 30px;
  display: inline-table;
  color: #17bf63;
}

.counter-area h2 {
  color: wheat;
}

.counter-area p {
  /* font-family: Poppins; */
  color: #794bc4;
  font-size: 20px;
}

/* Counter Section Ends */
/* Details Section Starts */
.details {
  padding: 100px 0px;
  color: #121c25;
}

.details h1 {
  font-family: Pacifico;
  color: #e0245e;
}

.details_content p {
  font-family: 16px;
  font-family: Poppins;
  color: #e4eaf0;
  padding-bottom: 20px;
  font-weight: 400;
}

.pre-con-btn a {
  font-family: Pacifico;
  text-decoration: none;
  color: #d0f743;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid #d0f743;
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}

.pre-con-btn :hover {
  background-color: #d0f743;
  opacity: 0.7;
  color: #0e161d;
  border: 1px solid transparent;
}

.details_content hr {
  width: 20%;
  background-color: #e0245e;
  padding: 2px;
  border-radius: 30px;
  margin-right: inherit;
  margin-left: inherit;
}

.bg_sec_1,
.bg_sec_2,
.bg_sec_3,
.bg_sec_4,
.bg_sec_5 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.details_content {
  padding: 90px 100px;
}

.bg_sec_1 {
  background-image: url(https://cdn.pixabay.com/photo/2019/09/28/12/47/workshop-4510700_1280.jpg);
}

.bg_sec_2 {
  background-image: url(https://cdn.pixabay.com/photo/2018/04/14/20/12/texture-3319946_1280.jpg);
}

.bg_sec_3 {
  background-image: url(https://cdn.pixabay.com/photo/2014/04/05/11/21/sewing-machine-315382_1280.jpg);
}

.bg_sec_4 {
  background-image: url(https://cdn.pixabay.com/photo/2018/08/24/23/33/oil-3629119_1280.jpg);
}

.bg_sec_5 {
  background-image: url(https://cdn.pixabay.com/photo/2017/08/05/14/24/yarn-2583975_1280.jpg);
}

/* Details Section Ends */
/***************************** Index.html ******************************** */
/***************************** Resources.html ******************************** */
/* Card Section Starts */
.card {
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 50px 100px;
  border-radius: 20px;
  background: #15202b;
  -webkit-box-shadow: 35px 35px 56px #121c25, -35px -35px 56px #182431;
  box-shadow: 35px 35px 56px #121c25, -35px -35px 56px #182431;
  margin-bottom: 70px;
}

/* Card Section Ends */
/* Section Starts */
.section-title {
  width: 100%;
  padding-bottom: 40px;
  font-size: 48px;
}

.section-title h1 {
  /* font-family: "Pacifico"; */
  font-weight: 900;
  color: #d0f743;
  font-size: 26px;
  font-weight: 400;
}

h2 {
  /* font-family: "Pacifico"; */
  font-weight: 900;
  color: #17bf63;
  font-size: 26px;
  font-weight: 400;
}

section table {
  width: 100%;
}

section table tr td {
  padding: 10px;
  border-style: none;
  font-weight: 400;
  height: 50px;
  border-color: #fdfdfd61;
}

section table tr td:nth-child(3) {
  font-size: 15px;
}

.ct table tr th {
  padding: 0px 15px;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 25px;
  color: #baebf7;
}
.ct table tr td:nth-child(2) {
  color: #e0245e;
  font-size: 25px;
  font-family: "Lobster Two";
  font-weight: 600;
}
.ct table tr td:nth-child(1) {
  font-weight: 400;
  font-size: 22px;
  color: wheat;
  font-family: "Lobster Two";
  /* border-left: 2px solid #d0f743;
  border-bottom: 2px solid #d0f743; */
}
.ct table tr td:nth-child(3) {
  color: #d0f743;
  font-family: "Lobster Two";
  font-size: 22px;
  /* border-right: 2px solid pink;
  border-bottom: 2px solid pink; */
}
.ct table tr td:nth-child(4) {
  color: papayawhip;
}
.ct table tr td:nth-child(5) {
  color: papayawhip;
}
.ct table tr td:nth-child(6) {
  color: papayawhip;
}
.ct .section-title h1 {
  color: #e0245e;
  display: inline-block;
  padding: 20px;
  border: 2px solid #d0f743;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  font-family: Lobster Two;
  font-weight: 600;
}
.link a {
  width: 100%;
  text-decoration: none;
  color: inherit;
  background: #794bc4;
  padding: 10px 5px;
  border-radius: 5px;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  display: inline-block;
}

.pdf h2 {
  margin-bottom: 30px;
  color: #17bf63;
}

/* Section Ends */
/* Resource Section Starts */
.bce,
.chem,
.math,
.ntf,
.phy,
.sylb {
  margin-top: 230px;
}

/* Resource Section Ends */
/***************************** Resources.html ******************************** */
/***************************** Syllabus.html ******************************** */
/* Syllabus Section Starts */
.syllabus {
  padding: 20px 0px 40px;
}

.syllabus .section-title {
  padding-bottom: 60px;
}

.sy-link a:hover,
.link a:hover {
  opacity: 0.5;
}

.level h2 {
  margin-bottom: 30px;
  color: #17bf63;
}

.level h5 {
  padding: 10px 0px;
}

.sy-link a {
  background: #794bc4;
  text-decoration: none;
  color: wheat;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 10px;
  margin: 8px 0px;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

/* Syllabus Section Ends */
/***************************** Syllabus.html ******************************** */
/***************************** Accessories.html ****************************** */
/* Bus Section Starts */
.bus-route {
  margin-top: 230px;
  padding: 10px;
}

.bus-route h2 {
  /* font-family: Pacifico; */
  color: #e0245e;
}

.bus-route img {
  max-width: 100%;
}

.bus1,
.bus2,
.bus3,
.bus4 {
  margin: 0;
}

/* Bus Section Ends */
/* Routine Section  Starts */
.routine {
  margin-top: 80px;
}

.rot_link a {
  background: #794bc4;
  text-decoration: none;
  color: wheat;
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  font-size: 20px;
}

.routine img {
  max-width: 100%;
}

.rot_link:hover {
  opacity: 0.5;
}

/* Routine Section Ends */
/***************************** Accessories.html ****************************** */
/***************************** Developer.html ****************************** */
.developedBy {
  padding: 10px 10px 20px;
}

.developedBy h3 {
  font-family: "Pacifico";
  color: #d0f743;
}

.developedBy h5 {
  color: #17bf63;
  font-family: "Pacifico";
  margin: 20px 0px;
}

.developedBy ul {
  display: inline-block;
}

.developedBy ul li a i {
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
}

.developedBy ul li .fa-facebook-square:hover {
  color: #315aaa;
}

.developedBy ul li .fa-twitter:hover {
  color: #19c6f1;
  list-style: none;
}

.developedBy ul li a i {
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
}

.developedBy ul li .fa-envelope:hover {
  color: #d0f743;
}

.developedBy ul li .fa-github:hover {
  opacity: 0.5;
}

.developedBy ul li .fa-discord:hover {
  color: #7289d9;
}

.developedBy ul li .fa-linkedin-in:hover {
  color: #0e76a8;
}

.developedBy h1 {
  color: #e0245e;
  font-family: Lobster Two;
}

.developedBy p {
  font-family: "Poppins";
  color: bisque;
}

.developedBy a {
  color: wheat;
  text-decoration: none;
  font-size: 20px;
}

.dev-icon {
  margin: 150px 0px 50px;
}

.dev-icon img {
  max-width: 100%;
}

.shield {
  margin: 20px 0px;
}

.shield h1 {
  font-family: Pacifico;
}

/***************************** Developer.html ****************************** */
/* Footer Section Starts */
footer {
  text-align: center;
  padding: 70px 0px 30px;
  border-radius: 30px 30px 0px 0px;
  background: #15202b;
  -webkit-box-shadow: 20px 20px 52px #0e161d, -20px -20px 52px #1c2a39;
  box-shadow: 20px 20px 52px #0e161d, -20px -20px 52px #1c2a39;
  position: relative;
}

footer ul {
  text-align: left;
}

footer ul li {
  list-style-type: none;
  padding: 5px 0px;
}

footer ul li span {
  font-size: 26px;
  font-family: Pacifico;
  color: #e0245e;
  display: inline-block;
  padding: 5px 0px;
}

footer ul li a {
  font-family: Poppins;
  text-decoration: none;
  display: inline-block;
  color: #e4e4e4;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

footer ul li a:hover {
  color: wheat;
}

footer .overlaybttn {
  position: absolute;
  bottom: 0px;
  right: 40px;
}

h4 {
  color: #e0245e;
  /* font-family: Pacifico; */
}

h5 {
  color: #e0245e;
  /* font-family: Courgette; */
}

.cpy-rgt {
  /* font-family: Pacifico; */
  font-size: 20px;
  font-weight: 400;
  padding: 20px 0px 10px;
}

.cpy-rgt span a {
  text-decoration: none;
  color: #e0245e;
  font-weight: 500;
}

.rotating {
  max-width: 190px;
  max-width: 50%;
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
  -webkit-animation: rotating 7s linear infinite;
  animation: rotating 7s linear infinite;
}

.foot_bg img {
  max-width: 100%;
}

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* Footer Section Ends */
/************************** Responsive ************************* */
@media (min-width: 1199px) {
  .developedBy {
    padding: 30px 0px;
  }
  .developedBy .card {
    padding: 20px;
  }
}

@media (max-width: 1199px) {
  body {
    width: 100%;
    padding: 10px 0px;
  }
  header {
    padding: 20px 0px;
  }
  .logo {
    width: 100px;
  }
  .overlaybttn {
    margin: 0px 0px;
  }
  .overlaybttn a i,
  .overlaybttn a span {
    font-size: 14px;
  }
  section {
    padding: 30px 30px;
  }
  section table tr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-bottom: 1px groove white;
    padding: 25px;
  }
  section table tr td {
    padding: 20px 5px;
    width: 33.33%;
  }
  section table tr td:nth-child(4) {
    width: 100% !important;
  }
  section table tr th {
    padding: 10px 5px;
    width: 33.33%;
  }
  section table tr th:nth-child(4) {
    width: 100% !important;
  }
  section table tr th:nth-child(5) {
    width: 100%;
  }

  .ct table tr td {
    padding: 20px 5px;
    width: 33.33%;
  }
  .ct table tr td:nth-child(4) {
    width: 100% !important;
  }
  .ct table tr th {
    padding: 10px 5px;
    width: 33.33%;
  }
  .ct table tr th:nth-child(4) {
    width: 100% !important;
  }
  .ct table tr th:nth-child(5) {
    width: 100% !important;
  }
  .ct table tr th:nth-child(6) {
    width: 100%;
  }

  .ct table tr td {
    height: auto;
  }
  .ct table tr td {
    padding: 20px 5px;
    width: 33.33%;
  }
  .ct table tr td:nth-child(4) {
    width: 100% !important;
  }
  .ct table tr td {
    padding: 10px 5px;
    width: 33.33%;
  }
  .ct table tr td:nth-child(4) {
    width: 100% !important;
  }
  .ct table tr td:nth-child(5) {
    width: 100% !important;
  }
  .ct table tr td:nth-child(6) {
    width: 100%;
  }

  .details_content {
    padding: 10px 30px;
  }
  .banner-overlay {
    padding: 120px 0px;
  }
  .details h1 {
    font-size: 29px;
  }
  .developedBy .card {
    padding: 20px 0px;
  }
  .dev-icon {
    margin: 150px 0px 50px;
  }
}

@media (max-width: 991px) {
  body {
    padding: 10px 40px;
  }
  .foot_bg img {
    max-width: 100% !important;
  }
  .dev-icon {
    margin: 150px 0px 30px;
  }
  .details_content {
    padding: 20px;
  }
  .banner-overlay {
    padding: 120px 0px;
  }
  .details h1 {
    font-size: 29px;
  }
  .details_content p {
    font-size: 15px;
  }
}

@media (max-width: 767px) {
  body {
    padding: 10px 10px 0px !important;
  }
  .cpy-rgt {
    font-size: 12px;
  }
  .typer h1 {
    font-size: 22px;
  }
  .foot_bg img {
    max-width: 100% !important;
  }
  .developedBy ul {
    padding: 0 15px !important;
  }
}

@media (max-width: 599px) {
  .banner {
    border-radius: 15px;
    background-position: bottom;
    width: 100%;
  }
  .banner p {
    font-size: 14px;
  }
  .banner-overlay {
    padding: 100px 15px;
    width: 100%;
  }
  .dev-icon {
    margin: 150px 0px 30px;
  }
  .social {
    padding: 0;
  }
  .foot_bg img {
    max-width: 100% !important;
  }
  .vct p {
    margin-top: 15px;
    font-size: 13px;
    line-height: 1.7;
  }
  .vct2,
  .vct3 {
    margin-top: 15px;
    font-size: 13px;
    line-height: 1.7;
  }
  .vct2 h1,
  .vct3 h1 {
    font-size: 26px;
  }
  .vct4 h1 {
    font-size: 26px;
  }
  .vct4 p {
    margin-top: 15px;
    font-size: 13px;
    line-height: 1.7;
  }
  .btn {
    margin-top: 0px;
    padding: 7px 15px;
    border: 2px solid #17bf63;
    background-color: transparent;
    border-radius: 25px;
    -webkit-transition: all linear 0.5s;
    transition: all linear 0.5s;
  }
  .day-message {
    font-size: 26px;
  }
  .date {
    font-size: 20px;
  }
  .day-text {
    margin-top: 130px;
  }
  header {
    padding: 30px 0px 40px !important;
    padding: 10px 0px;
  }
  .syllabus {
    padding: 0;
  }
  .card {
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 30px 0px;
  }
  .typer h1 {
    font-size: 22px;
  }
  .bce,
  .chem,
  .math,
  .ntf,
  .phy {
    margin-top: 150px;
  }
  .sylb {
    margin-top: 115px;
  }
  .bus-route {
    margin-top: 115px;
  }
  .bus-route img {
    max-width: 90%;
  }
  .section-title h1 {
    font-size: 30px !important;
    font-size: 20px;
    margin-top: 20px;
  }
  .overlaybttn a i,
  .overlaybttn a span {
    font-size: 15px !important;
  }
  section {
    padding: 0px;
  }
  section table tr th {
    font-size: 16px !important;
    padding: 10px 5px;
    width: 100%;
    font-size: 12px;
  }
  section table tr th:first-child,
  section table tr th:nth-child(2) {
    width: 50% !important;
  }
  section table tr td {
    width: 100%;
  }
  section table tr td:first-child,
  section table tr td:nth-child(2) {
    width: 50% !important;
  }
  footer {
    position: relative;
  }
  footer .overlaybttn {
    position: absolute;
    right: 0px;
    bottom: 60px;
  }
  footer ul li span {
    font-size: 18px;
  }
  footer ul li a {
    font-size: 15px;
  }
  footer ul li h4 {
    font-size: 17px;
  }
  footer ul li h5 {
    font-size: 16px;
  }
  .logo {
    width: 100%;
  }
  .logo img {
    width: 30%;
    margin: auto;
  }
  .header-title {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  h4,
  h5 {
    font-size: 18px;
  }
  .details_content {
    padding: 20px;
  }
  .details {
    padding: 10px 0px;
  }
  .developedBy p {
    padding: 18px 18px 0px;
    font-size: 14px;
  }
  .typer {
    padding: 30px 0px 10px;
  }
  .ct table tr td {
    height: auto;
  }
  .ct table tr th {
    height: auto;
    font-family: Poppins;
  }
  /* 
  .ct table tr th:nth-child(1),
  .ct table tr th:nth-child(3),
  .ct table tr th:nth-child(4),
  .ct table tr th:nth-child(5) {
    border-left: 2px solid whitesmoke;
    border-bottom: 2px solid whitesmoke;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
  } */

  .ct table tr td:nth-child(1),
  .ct table tr th:nth-child(1) {
    border-left: 2px solid whitesmoke;
    border-bottom: 2px solid whitesmoke;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  .ct table tr td:nth-child(2),
  .ct table tr th:nth-child(2) {
    border-right: 2px solid whitesmoke;
    border-bottom: 2px solid whitesmoke;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
  }
  .ct table tr td:nth-child(3),
  .ct table tr th:nth-child(3) {
    border-bottom: 2px solid whitesmoke;
    border-top-left-radius: 15px;
    border-left: 2px solid whitesmoke;
    border-bottom-right-radius: 15px;
  }

  .ct .section-title {
    padding: 0px;
  }

  .ct .section-title h1 {
    border: none;
    border-bottom: 2px solid #baebf7;
    border-top: 2px solid #baebf7;
    font-size: 25px !important;
  }
}

/************************** Responsive ************************* */
/*# sourceMappingURL=style.css.map */
