@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&family=Raleway:wght@200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
/* Overlay Buttons Starts */
/* Overlay Buttons Ends */
/* Card Starts */
/* Card Ends */
/* Syllabus Starts */
/* Syllabus Ends */
/* Routine Starts */
/* Routine Ends */
/* Bus Starts */
/* Bus Ends */
/* Footer Part */
/* Safari and Chrome */
@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* Footer Ends*/
/* Responsive */
/* Footer Ends */
/*  Developer Sect */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

body {
  font-family: Poppins, sans-serif;
  background: #e0e0e0;
  color: #e4e4e4;
  overflow-x: hidden;
}

.overlaybttn {
  margin: 30px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.overlaybttn .fa-arrow-circle-down {
  color: #e0245e;
}

.overlaybttn .fa-arrow-circle-up {
  color: #e0245e;
}

.overlaybttn a {
  color: #e0245e;
  font-family: Pacifico;
  display: inline-block;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 15px;
  background: #cbb3b3;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.overlaybttn a:hover {
  box-shadow: 2px 2px 6px #ad9898, -2px -2px 6px #e9cece;
}

.overlaybttn a i {
  color: #4285f4;
  font-size: 21px;
}

.overlaybttn a span {
  padding-left: 2px;
  font-size: 20px;
  display: inline-block;
}

.day-text {
  margin-top: 170px;
  font-family: Pacifico;
}

.day-message {
  color: #2d2d2d;
  font-size: 40px;
  font-family: Courgette;
}

.date {
  font-size: 30px;
  color: #17bf63;
}

.typer {
  text-align: end;
}

.typer h1 {
  color: #e0245e;
  font-family: Pacifico;
}

.card {
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 50px 100px;
  border-radius: 30px;
  background: #dcd0d0;
  box-shadow: 20px 20px 60px #bbb1b1, -20px -20px 60px #fdefef;
  margin-bottom: 70px;
}

.bce {
  margin-top: 230px;
}

.chem {
  margin-top: 230px;
}

.math {
  margin-top: 230px;
}

.ntf {
  margin-top: 230px;
}

.phy {
  margin-top: 230px;
}

.sylb {
  margin-top: 230px;
}

.bus-route {
  margin-top: 230px;
  padding: 10px;
}

.bus-route h2 {
  font-family: Pacifico;
  color: #e0245e;
}

.bus-route img {
  max-width: 100%;
}

.routine {
  margin-top: 80px;
}

.vct2 {
  padding: 0px;
  margin-top: 15px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.7;
}

.vct2 h1 {
  color: #e0245e;
}

.vct2 img {
  max-width: 100%;
}

.vct3 {
  padding: 0px;
  margin-top: 15px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.7;
}

.vct3 h1 {
  color: #e0245e;
}

.vct3 img {
  max-width: 80%;
}

.vct h1 {
  color: #e0245e;
}

.vct p {
  margin-top: 15px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.7;
}

.vct img {
  max-width: 80%;
}

.vct4 p {
  margin-top: 15px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.7;
}

.vct4 img {
  max-width: 100%;
}

.vct p,
.vct2 p,
.vct3 p,
.vct4 p {
  color: #15202b;
}

.vct h1,
.vct2 h1,
.vct3 h1,
.vct4 h1 {
  color: #e0245e;
  font-family: Pacifico;
}
.btn {
  margin-top: 30px;
  padding: 10px 20px;
  border: 2px solid #17bf63;
  background-color: transparent;
  border-radius: 25px;
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}

.btn a {
  font-family: Courgette;
  text-decoration: none;
  color: #17bf63;
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}

.btn:hover {
  background-color: #17bf63;
  border: 2px solid transparent;
}

.btn:hover a {
  color: #e0e0e0;
}

.section-title {
  width: 100%;
  padding-bottom: 40px;
  font-size: 48px;
}

.section-title h1,
h2 {
  font-family: "Pacifico";
  font-weight: 900;
  color: #17bf63;
  font-size: 26px;
  font-weight: 400;
}

section table {
  font-family: Poppins;
  width: 100%;
}

section table tr th {
  color: #15202b;
}

section table tr td {
  padding: 10px;
  border-style: none;
  height: 50px;
  border-color: #fdfdfd61;
  color: #15202b;
}

section table tr td:nth-child(3) {
  font-size: 15px;
}

.link a {
  width: 100%;
  text-decoration: none;
  color: inherit;
  background: #794bc4;
  padding: 10px 5px;
  border-radius: 5px;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  display: inline-block;
  color: #d4cccc;
}

.link a:hover {
  opacity: 0.8;
}

.counter-area {
  padding: 90px 0px 10px;
}

.counter-area h1 {
  font-family: Pacifico;
  font-size: 30px;
  display: inline-table;
  color: #17bf63;
}

.counter-area h2 {
  color: #15202b;
}

.counter-area p {
  font-family: Poppins;
  color: #794bc4;
  font-size: 20px;
}

.syllabus {
  padding: 20px 0px 40px;
}

.syllabus .section-title {
  padding-bottom: 60px;
}

.level h2 {
  margin-bottom: 30px;
  color: #17bf63;
}

.level h5 {
  padding: 10px 0px;
}

.sy-link a {
  background: #794bc4;
  text-decoration: none;
  color: wheat;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 10px;
  margin: 8px 0px;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.sy-link a:hover {
  opacity: 0.5;
}

.pdf h2 {
  margin-bottom: 30px;
  color: #17bf63;
}

.rot_link a {
  background: #794bc4;
  text-decoration: none;
  color: wheat;
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
  transition-duration: all linear 0.5s;
  font-size: 20px;
}

.routine img {
  max-width: 100%;
}

.rot_link:hover {
  opacity: 0.8;
}

.bus1 {
  margin: 0;
}

.bus2 {
  margin: 0;
}

.bus3 {
  margin: 0;
}

.bus4 {
  margin: 0;
}

footer {
  text-align: center;
  padding: 70px 0px 30px;
  border-radius: 50px 50px 0px 0px;
  background: #dcd0d0;
  box-shadow: 20px 20px 60px #bbb1b1, -20px -20px 60px #fdefef;
  position: relative;
  color: #2d2d2d;
}

footer ul {
  text-align: left;
}

footer ul li {
  list-style-type: none;
  padding: 5px 0px;
}

footer ul li span {
  font-family: Pacifico;
  color: #e0245e;
  font-size: 26px;
  display: inline-block;
  padding: 5px 0px;
}

footer ul li a {
  text-decoration: none;
  display: inline-block;
  color: #2d2d2d;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  font-family: Poppins;
}

footer ul li a:hover {
  color: rgba(165, 42, 42, 0.712);
}

footer .overlaybttn {
  position: absolute;
  bottom: 0px;
  right: 40px;
}

h4 {
  font-family: Pacifico;
  color: #e0245e;
}

h5 {
  font-family: Courgette;
  color: #e0245e;
}

.cpy-rgt {
  font-size: 20px;
  font-family: Pacifico;
  font-weight: 400;
  padding: 20px 0px 0px;
}

.cpy-rgt span a {
  text-decoration: none;
  color: #e0245e;
  font-weight: 500;
}

.rotating {
  max-width: 190px;
  max-width: 50%;
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
  -webkit-animation: rotating 7s linear infinite;
  animation: rotating 7s linear infinite;
}

.foot_bg img {
  max-width: 100%;
}

.developedBy {
  padding: 10px 10px 20px;
}

.developedBy h5 {
  font-family: "Pacifico";
  margin: 20px 0px;
  color: #17bf63;
}

.developedBy ul {
  display: inline-block;
}

.developedBy ul li a i {
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
}

.developedBy ul li .fa-facebook-square:hover {
  color: #315aaa;
}

.developedBy ul li .fa-twitter:hover {
  color: #19c6f1;
}

.developedBy ul li {
  list-style: none;
}

.developedBy ul li a i {
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
}

.developedBy ul li .fa-envelope:hover {
  color: brown;
}

.developedBy ul li .fa-github:hover {
  opacity: 0.5;
}

.developedBy ul li .fa-discord:hover {
  color: #7289d9;
}

.developedBy ul li .fa-linkedin-in:hover {
  color: #0e76a8;
}

.developedBy h1 {
  font-family: Pacifico;
  color: #e0245e;
}

.developedBy p {
  font-family: "Poppins";
  color: #354066;
}

.developedBy a {
  color: #2d2d2d;
  text-decoration: none;
  font-size: 20px;
}

.dev-icon {
  margin: 150px 0px;
}

.dev-icon img {
  max-width: 100%;
}

@media (max-width: 1199px) {
  body {
    width: 100%;
    padding: 10px 50px;
  }
  header {
    padding: 20px 0px;
  }
  .logo {
    width: 100px;
  }
  .overlaybttn {
    margin: 0px 0px;
  }
  .overlaybttn a i {
    font-size: 14px;
  }
  .overlaybttn a span {
    font-size: 14px;
  }
  section {
    padding: 30px 30px;
  }
  section table tr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-bottom: 1px groove white;
    padding: 25px;
  }
  section table tr td {
    padding: 20px 5px;
    width: 33.33%;
  }
  section table tr td:nth-child(4) {
    width: 100% !important;
  }
  section table tr th {
    padding: 10px 5px;
    width: 33.33%;
  }
  section table tr th:nth-child(4) {
    width: 100% !important;
  }
  section table tr th:nth-child(5) {
    width: 100%;
  }
}

@media (max-width: 991px) {
  body {
    padding: 10px 40px;
  }
  .foot_bg img {
    max-width: 100% !important;
  }
  .dev-icon {
    margin: 150px 0px 30px;
  }
}

@media (max-width: 767px) {
  body {
    padding: 10px 10px 0px !important;
  }
  .cpy-rgt {
    font-size: 12px;
  }
  .typer h1 {
    font-size: 22px;
  }
  .foot_bg img {
    max-width: 100% !important;
  }
}

@media (max-width: 599px) {
  .dev-icon {
    margin: 150px 0px 30px;
  }
  .social {
    padding: 0;
  }
  .foot_bg img {
    max-width: 100% !important;
  }
  .vct h1 {
    color: #e0245e;
    font-size: 26px;
  }
  .vct p {
    margin-top: 15px;
    font-size: 13px;
    font-weight: 300;
    line-height: 1.7;
  }
  .vct2 {
    margin-top: 15px;
    font-size: 13px;
    font-weight: 300;
    line-height: 1.7;
  }
  .vct2 h1 {
    color: #e0245e;
    font-size: 26px;
  }
  .vct3 {
    margin-top: 15px;
    font-size: 13px;
    font-weight: 300;
    line-height: 1.7;
  }
  .vct3 h1 {
    color: #e0245e;
    font-size: 26px;
  }
  .vct4 h1 {
    color: #e0245e;
    font-size: 26px;
  }
  .vct4 p {
    margin-top: 15px;
    font-size: 13px;
    font-weight: 300;
    line-height: 1.7;
  }
  .btn {
    margin-top: 0px;
    padding: 7px 15px;
    border: 2px solid #17bf63;
    background-color: transparent;
    border-radius: 25px;
    -webkit-transition: all linear 0.5s;
    transition: all linear 0.5s;
  }
  .day-message {
    font-size: 26px;
  }
  .date {
    font-size: 20px;
  }
  .day-text {
    margin-top: 117px;
  }
  header {
    padding: 30px 0px 40px !important;
    padding: 10px 0px;
  }
  .syllabus {
    padding: 0;
  }
  .card {
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 30px 0px;
  }
  .typer h1 {
    font-size: 22px;
  }
  .bce {
    margin-top: 150px;
  }
  .chem {
    margin-top: 150px;
  }
  .math {
    margin-top: 150px;
  }
  .ntf {
    margin-top: 150px;
  }
  .phy {
    margin-top: 150px;
  }
  .sylb {
    margin-top: 115px;
  }
  .bus-route {
    margin-top: 115px;
  }
  .bus-route img {
    max-width: 90%;
  }
  .section-title h1 {
    font-size: 30px !important;
    font-size: 20px;
    margin-top: 20px;
  }
  .overlaybttn a i {
    font-size: 15px !important;
  }
  .overlaybttn a span {
    font-size: 15px !important;
  }
  section {
    padding: 10px 10px;
  }
  section table tr th {
    font-size: 16px !important;
    padding: 10px 5px;
    width: 100%;
    font-size: 12px;
  }
  section table tr th:first-child {
    width: 50% !important;
  }
  section table tr th:nth-child(2) {
    width: 50% !important;
  }
  section table tr td {
    width: 100%;
  }
  section table tr td:first-child {
    width: 50% !important;
  }
  section table tr td:nth-child(2) {
    width: 50% !important;
  }
  footer {
    position: relative;
  }
  footer .overlaybttn {
    position: absolute;
    bottom: 160px !important;
    right: 0px;
    position: absolute;
    bottom: 60px;
    left: 30px;
  }
  footer ul li span {
    font-size: 15px;
    color: #e0245e;
    font-size: 18px;
  }
  footer ul li a {
    font-size: 15px;
  }
  footer ul li h4 {
    font-size: 17px;
  }
  footer ul li h5 {
    font-size: 16px;
  }
  .logo {
    width: 100%;
  }
  .logo img {
    width: 30%;
    margin: auto;
  }
  .header-title {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  h4 {
    color: #e0245e;
    font-size: 18px;
  }
  h5 {
    color: #e0245e;
    font-size: 18px;
  }
  .developedBy ul {
    padding: 0 15px !important;
  }
}
/*# sourceMappingURL=style.css.map */
