header {
  background-color: #16443ef6;
  padding: 50px 0px 40px;
  position: fixed;
  top: 0px;
  right: 0;
  width: 100%;
  z-index: 99;
}

.nav-item {
  padding: 0px 10px;
}

.nav-item a {
  font-weight: 500;
  font-size: 20px;
  color: rgb(255, 255, 255);
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
  position: absolute;
  text-align: center;
  /* background-color: #16443eda !important; */
  background-color: rgba(66, 64, 60, 0.301);
  font-family: inherit;
  border: none;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #0c0a0a;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-item.active {
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
  color: wheat;
  text-decoration: none;
  background-color: #707479dc !important;
}

.dropdown-item {
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
}

.dropdown-item:hover {
  color: wheat;
  text-decoration: none;
  background-color: #70747983 !important;
}

.nav-link {
  border-bottom: 2px solid transparent;
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
}

.nav-link:hover {
  cursor: pointer;
  color: #c5d7bd;
  border-bottom: 2px solid #8d6a6a;
}

.navbar-brand {
  margin-right: 0 !important;
  right: 50%;
  -webkit-transform: translate(50%, -60px);
  transform: translate(50%, -60px);
  top: 0;
  position: absolute;
}

.navbar-brand img {
  max-width: 180px;
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
}

.rotate {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1, 1);
}

.rotate:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.rotating {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1, 1);
}

/* .navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-image: url(../../assets//hamburger.png);
} */


@media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: none;
  }
  .navbar .nav-item:hover .dropdown-menu {
    display: block;
  }
  .navbar .nav-item .dropdown-menu {
    margin-top: 0;
  }
}