header {
  background-color: #16443e;
  padding: 25px 0px;
  position: fixed;
  top: 0px;
  right: 0;
  width: 100%;
  z-index: 99;
}

.nav-item {
  padding: 0px 10px;
}

.nav-item a {
  font-weight: 500;
  font-size: 20px;
  color: rgb(255, 255, 255);
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
  position: absolute;
  text-align: center;
  background-color: #16443eec !important;
  /* background-color: rgba(66, 64, 60, 0.301); */
  font-family: inherit;
  border: none;
  margin: 0;
  padding: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #0c0a0a;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-item.active {
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
  color: wheat;
  text-decoration: none;
  background-color: #707479dc !important;
}

.dropdown-item {
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
}

.dropdown-item:hover {
  color: wheat;
  text-decoration: none;
  background-color: #70747983 !important;
}

.nav-link {
  border-bottom: 2px solid transparent;
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
}

.nav-link:hover {
  cursor: pointer;
  color: #c5d7bd;
  border-bottom: 2px solid #8d6a6a;
}

.navbar-brand {
  margin-right: 0 !important;
  right: 50%;
  transform: translate(50%, -35px);
  top: 10%;
  position: absolute;
  height: 180px; /* 185*/
  width: 170px;
  background-color: #16443e;
  border-radius: 50%;
  /* box-shadow: 3px 3px 14px 3px #00000061; */
}

.navbar-brand img {
  max-width: 140px; /*145*/
  position: absolute;
  transform: translate(11%, 10%);
}

.navBrand {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1, 1);
}

/* .navBrand:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
} */

@media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: none;
  }
  .navbar .nav-item:hover .dropdown-menu {
    display: block;
  }
  .navbar .nav-item .dropdown-menu {
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
    text-align: center;
    background-color: #16443eda !important;
  }
  @media (max-width: 767px) {
    .logo {
      width: 100%;
    }
    .logo img {
      width: 30%;
      margin: auto;
    }
    .header-title {
      width: 100%;
      margin-top: 20px;
      margin-bottom: 30px;
    }
    .navbar-brand {
      top: 0;
    }
  }
}
