@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&family=Raleway:wght@200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&family=Ubuntu:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Lora:wght@400;500;600&display=swap");

h2 {
  color: #0c253a;
  font-size: 26px;
  font-weight: 500;
}


.btn {
  margin-top: 30px;
  padding: 10px 20px;
  border: 2px solid #0c253a;
  background-color: transparent;
  border-radius: 25px;
  transition: all linear 0.3s;
}
.btn a {
  color: #0c253a;
}
.btn:hover {
  background-color: #0c253a;
}
.btn:hover a {
  color: #a89f9f;
}
@media (max-width: 767px) {
  .btn {
    margin-top: 0px;
    padding: 7px 15px;
    background-color: transparent;
    border-radius: 25px;
    -webkit-transition: all linear 0.5s;
    transition: all linear 0.5s;
  }
}
