@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&family=Raleway:wght@200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&family=Ubuntu:wght@300;400;500&display=swap");
/* Universal CSS */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: Rubik;
  background: #e7e7e7;
  color: #e4e4e4;
  overflow-x: hidden;
  font-weight: 400;
}

body::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: rgb(61, 61, 59); /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(158, 158, 175); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid rgb(145, 145, 151); /* creates padding around scroll thumb */
}

/* Universal CSS */

/*Font Controlling */
.overlaybttn a,
.day-text,
.vct h1,
.vct2 h1,
.vct3 h1,
.vct4 h1,
.counter-area h1,
.section-title h1,
h2,
.bus-route h2 {
  font-family: "Ubuntu";
}

.developedBy h5,
.developedBy p {
  font-family: "Ubuntu";
}

footer ul li span,
h4,
.cpy-rgt {
  font-family: "Ubuntu";
}

.counter-area p,
section table {
  font-family: "Poppins";
}

/*Font Controlling */

.btn {
  margin-top: 30px;
  padding: 10px 20px;
  border: 2px solid #17bf63;
  background-color: transparent;
  border-radius: 25px;
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}

.btn a {
  font-family: Ubuntu;
  color: #17bf63;
  text-decoration: none;
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
  font-weight: 400;
}

.btn:hover {
  background-color: #17bf63;
  border: 2px solid transparent;
}

.btn:hover a {
  color: #15202b;
}

.overlaybttn {
  margin: 30px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.overlaybttn .fa-arrow-circle-down,
.overlaybttn .fa-arrow-circle-up {
  color: #17bf63;
  color: #e0245e;
}

.overlaybttn a {
  color: white;
  color: #e0245e;
  display: inline-block;
  text-decoration: none;
  padding: 15px 20px;
  border-radius: 30px;
  background: #15202b;
  background: #cbb3b3;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  font-family: Ubuntu;
  font-weight: 500;
}

.overlaybttn a:hover {
  -webkit-box-shadow: 2px 2px 6px #0b0b0b, -2px -2px 6px #2d2d2d;
  box-shadow: 2px 2px 6px #0b0b0b, -2px -2px 6px #2d2d2d;
  -webkit-box-shadow: 2px 2px 6px #ad9898, -2px -2px 6px #e9cece;
  box-shadow: 2px 2px 6px #ad9898, -2px -2px 6px #e9cece;
}

.overlaybttn a i {
  color: #4285f4;
  font-size: 21px;
}

.overlaybttn a span {
  padding-left: 2px;
  font-size: 20px;
  display: inline-block;
}
h2 {
  color: #0c253a;
  font-size: 26px;
  font-weight: 400;
}

h4 {
  color: #e0245e;
}

h5 {
  color: #093d68;
}
/* Overlay Button Ends */
/***************************** Index.html ******************************** */

/* Vector Section Ends */
/* Banner Section Starts */
.banner {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../src/assets/banner.png);
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.banner-overlay {
  padding: 200px 0px;
}

.banner h1 {
  color: #e0245e;
  font-family: Ubuntu;
}

.banner p {
  margin-top: 20px;
  color: #e9dddd;
  font-family: Rubik;
}

.bnrwave {
  position: absolute;
  bottom: 500;
  z-index: -1;
}

/* Banner Section Ends */
/* Counter Section Starts */
.counter-area {
  background-color: #ffd2da94;
  padding: 90px 0px 10px;
}

.counter-area .card {
  background-color: #ffffb299;
}
.counter-area h1 {
  font-size: 30px;
  display: inline-table;
  color: #17bf63;
}

.counter-area h2 {
  color: wheat;
  color: #15202b;
}

.counter-area p {
  color: #794bc4;
  font-size: 20px;
}

/* Counter Section Ends */
/* Details Section Starts */
.details {
  padding: 100px 0px;
  color: #121c25;
}

.details h1 {
  font-family: Ubuntu;
  color: #e0245e;
}

.details_content p {
  font-family: 16px;
  font-family: Poppins;
  color: #0e161d;
  padding-bottom: 20px;
  font-weight: 400;
}

.pre-con-btn a {
  font-family: Ubuntu;
  text-decoration: none;
  color: #e0245e;
  padding: 15px 20px;
  border-radius: 25px;
  border: 2px solid #e0245e;
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}

.pre-con-btn :hover {
  background-color: #e0245e;
  color: #e9dddd;
  border: 1px solid transparent;
}

.details_content hr {
  width: 20%;
  background-color: #e0245e;
  padding: 2px;
  border-radius: 30px;
  margin-right: inherit;
  margin-left: inherit;
}

.bg_sec_1,
.bg_sec_2,
.bg_sec_3,
.bg_sec_4,
.bg_sec_5 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.details_content {
  padding: 90px 100px;
}

.bg_sec_1 {
  background-image: url(https://cdn.pixabay.com/photo/2019/09/28/12/47/workshop-4510700_1280.jpg);
}

.bg_sec_2 {
  background-image: url(https://cdn.pixabay.com/photo/2018/04/14/20/12/texture-3319946_1280.jpg);
}

.bg_sec_3 {
  background-image: url(https://cdn.pixabay.com/photo/2014/04/05/11/21/sewing-machine-315382_1280.jpg);
}

.bg_sec_4 {
  background-image: url(https://cdn.pixabay.com/photo/2018/08/24/23/33/oil-3629119_1280.jpg);
}

.bg_sec_5 {
  background-image: url(https://cdn.pixabay.com/photo/2017/08/05/14/24/yarn-2583975_1280.jpg);
}

/* Details Section Ends */
/***************************** Index.html ******************************** */
/***************************** Resources.html ******************************** */
/* Card Section Starts */
.card {
  text-align: center;
  align-items: center;
  padding: 50px;
  border-radius: 20px;
  background: linear-gradient(300deg, #ffbed781, #ebabff85);
  box-shadow: 14px 10px 13px 0px #d8c5c5;
  margin-bottom: 70px;
  border: none;
}

/* Card Section Ends */

/* Section Starts */
.section-title {
  width: 100%;
  padding-bottom: 40px;
  font-size: 48px;
}

.section-title h1 {
  font-weight: 900;
  color: #15202bd1;
  font-size: 26px;
  font-weight: 400;
}

section table {
  width: 100%;
}

section table tr th {
  color: #0f253b;
  font-size: 22px;
}

section table tr td {
  color: #0b0b0b;
  padding: 10px;
  border-style: none;
  font-weight: 400;
  height: 50px;
  border-color: #fdfdfd61;
}

section table tr td:nth-child(3) {
  font-size: 15px;
}

.link a {
  width: 100%;
  text-decoration: none;
  color: inherit;
  background: #0c253a;
  color: #e9dddd;
  padding: 10px 5px;
  border: 2px solid transparent;
  border-radius: 30px;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  display: inline-block;
}

.link a:hover {
  background-color: transparent;
  border: 2px solid #0c253a;
  color: #0c253a;
}

.pdf h2 {
  margin-bottom: 30px;
  color: #17bf63;
}

/* Section Ends */
/* Resource Section Starts */
.bce,
.chem,
.math,
.ntf,
.phy,
.sylb {
  margin-top: 230px;
}

/* Resource Section Ends */
/***************************** Resources.html ******************************** */
/***************************** Syllabus.html ******************************** */
/* Syllabus Section Starts */
.syllabus {
  padding: 20px 0px 40px;
}

.syllabus .section-title {
  padding-bottom: 60px;
}

.level h2 {
  margin-bottom: 30px;
  color: #0c253a;
}

.level h5 {
  padding: 10px 0px;
}

.sylb .btn {
  margin: 5px 0px;
  border: 2px solid #093d68;
}
.sylb .btn a {
  color: #093d68;
}

.sylb .btn:hover {
  background-color: #093d68;
  border: 2px solid transparent;
}

.sylb .btn:hover a {
  color: #a89f9f;
}

.sylb section table tr {
  /* display: -webkit-box; */
  display: -ms-flexbox;
  /* display: flex; */
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 25px;
}

.sylb section table tr td {
  padding: 20px 5px;
  width: 50%;
}

.sylb table tr td {
  justify-content: space-between;
  padding: 10px;
  /* border-style: none; */
  font-weight: 400;
  height: auto;
  /* border-color: #fdfdfd61; */
}

/* Syllabus Section Ends */
/***************************** Syllabus.html ******************************** */
/***************************** Accessories.html ****************************** */
/* Bus Section Starts */
.bus-route {
  margin-top: 200px;
  padding: 10px;
}

.bus-route h2 {
  color: #e0245e;
}

.bus-route img {
  margin-top: 10px;
  max-width: 100%;
  border-radius: 15px;
}

.bus1,
.bus2,
.bus3,
.bus4 {
  margin: 0;
}

.bus-route .card {
  padding: 60px;
}

/* Bus Section Ends */
/* Routine Section  Starts */
.routine {
  margin-top: 80px;
}

.routine img {
  max-width: 100%;
}

.routine .btn {
  margin-top: 30px;
  padding: 10px 20px;
  border: 2px solid #0c253a;
  background-color: transparent;
  border-radius: 25px;
  transition: all linear 0.3s;
}

.routine .btn a {
  color: #0c253a;
}

.routine .btn:hover {
  background-color: #0c253a;
}

.routine .btn:hover a {
  color: #a89f9f;
}
/* Routine Section Ends */
/***************************** Accessories  ****************************** */

/***************************** Exam Info  ****************************** */
.info {
  background-color: #f592cb59;
  padding: 300px 0px 100px;
}
.info h1 {
  text-align: center;
  color: #0c253a;
}
/***************************** Exam Info ****************************** */

/***************************** Developer ****************************** */
.developedBy {
  padding: 10px 10px 20px;
}

.developedBy h3 {
  /* font-family: "Lobster Two"; */
  color: #e0245e;
}

.developedBy h5 {
  color: #794bc4;
  font-family: "Ubuntu";
  margin: 20px 0px;
}

.developedBy ul {
  display: inline-block;
  padding: 0px 20px;
}

.developedBy ul li a i {
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
}

.developedBy ul li .fa-facebook-square:hover {
  color: #315aaa;
}

.developedBy ul li .fa-twitter:hover {
  color: #19c6f1;
  list-style: none;
}

.developedBy ul li a i {
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
}

.developedBy ul li .fa-envelope:hover {
  color: #d0f743;
}

.developedBy ul li .fa-github:hover {
  opacity: 0.5;
}

.developedBy ul li .fa-discord:hover {
  color: #7289d9;
}

.developedBy ul li .fa-linkedin-in:hover {
  color: #0e76a8;
}

.developedBy h1 {
  color: #e0245e;
  font-family: Lobster Two;
}

.developedBy p {
  font-family: "Rubik";
  font-weight: 400;
  font-size: 18px;
  color: bisque;
  color: #15273a;
}

.developedBy a {
  color: wheat;
  color: #15202b;
  text-decoration: none;
  font-size: 20px;
}

.dev-icon {
  margin: 150px 0px 50px;
}

.dev-icon img {
  max-width: 100%;
}

.shield {
  margin: 20px 0px 0px;
}

.shield h1 {
  font-family: Ubuntu;
}

/***************************** Developer.html ****************************** */
/* Footer Section Starts */
footer {
  text-align: center;
  padding: 70px 0px 30px;
  background: #15202b;
  /* -webkit-box-shadow: 20px 20px 52px #0e161d, -20px -20px 52px #1c2a39;
  box-shadow: 20px 20px 52px #0e161d, -20px -20px 52px #1c2a39; */
  background: #c4bbbb;
  background: linear-gradient(145deg, #c8bdbd, #a89f9f);
  /* box-shadow: 20px 20px 60px #b1a6a6, -20px -20px 60px #dfd5d5; */
  /* border: 1px solid darkgray; */
  position: relative;
}
footer h3 {
  color: #0f253b;
}

footer ul {
  text-align: left;
}

footer ul li {
  list-style-type: none;
  padding: 5px 0px;
}

footer ul li span {
  font-size: 26px;
  font-family: Ubuntu;
  color: #e0245e;
  display: inline-block;
  padding: 5px 0px;
}

footer ul li a {
  font-family: Poppins;
  text-decoration: none;
  display: inline-block;
  color: #e4e4e4;
  color: #15202b;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

footer ul li a:hover {
  opacity: 0.8;
}

footer .overlaybttn {
  position: absolute;
  bottom: 0px;
  right: 40px;
}

.cpy-rgt {
  font-size: 20px;
  font-weight: 500;
  padding: 20px 0px 10px;
  color: #15202b;
}

.cpy-rgt span a {
  text-decoration: none;
  color: #e0245e;
  font-weight: 500;
}

.rotating {
  max-width: 190px;
  max-width: 50%;
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
  -webkit-animation: rotating 7s linear infinite;
  animation: rotating 7s linear infinite;
}

.foot_bg img {
  max-width: 100%;
}

footer .nav-link {
  font-style: initial;
}

footer .nav-item .nav-link {
  font-size: 18px;
  color: #0c253a;
  margin: 10px 0px;
  font-weight: 400;
  padding: 0px;
  font-family: "Rubik";
}

footer .nav-link:hover {
  border-bottom: 2px solid transparent;
}

footer .rotating {
  max-width: 30% !important;
}
@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* Footer Section Ends */
/************************** Responsive ************************* */
@media (min-width: 1199px) {
  .developedBy {
    padding: 30px 0px;
  }
  .developedBy .card {
    padding: 20px;
  }
}

@media (max-width: 1199px) {
  header {
    padding: 20px 0px;
  }
  .logo {
    width: 100px;
  }
  .overlaybttn {
    margin: 0px 0px;
  }
  .overlaybttn a i,
  .overlaybttn a span {
    font-size: 14px;
  }
  section {
    padding: 30px 30px;
  }
  section table tr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-bottom: 1px groove rgb(184 105 105 / 45%);
    padding: 25px;
  }
  section table tr td {
    padding: 20px 5px;
    width: 33.33%;
  }
  section table tr td:nth-child(4) {
    width: 100% !important;
  }
  section table tr th {
    padding: 10px 5px;
    width: 33.33%;
  }
  section table tr th:nth-child(4) {
    width: 100% !important;
  }
  section table tr th:nth-child(5) {
    width: 100%;
  }

  .details_content {
    padding: 10px 30px;
  }
  .banner-overlay {
    padding: 120px 0px;
  }
  .details h1 {
    font-size: 29px;
  }
  .developedBy .card {
    padding: 20px 0px;
  }
  .dev-icon {
    margin: 150px 0px 50px;
  }
  .sylb table tr td {
    padding: 20px 5px;
    width: 50%;
  }
  .sylb table tr td {
    padding: 10px;
    /* border-style: none; */
    font-weight: 400;
    height: auto;
    /* border-color: #fdfdfd61; */
  }
  .sylb table tr {
    align-items: center;
    display: -ms-flexbox;
    -ms-flex-pack: center;
    justify-content: space-between;
  }
  .bus1,
  .bus2,
  .bus3,
  .bus4 {
    margin: 0;
    padding: 20px;
  }
  .routine .card {
    padding: 20px;
  }

  .dev-card {
    margin-top: 200px;
  }
  header {
    padding: 40px 0px;
  }
  .top-over-details-part {
    padding: 240px 0px;
  }
}

@media (max-width: 991px) {
  .foot_bg img {
    max-width: 100% !important;
  }
  .dev-icon {
    margin: 150px 0px 30px;
  }
  .details_content {
    padding: 30px;
  }
  .banner-overlay {
    padding: 120px 0px;
  }
  .details h1 {
    font-size: 29px;
  }
  .details_content p {
    font-size: 15px;
  }
  .bus1,
  .bus2,
  .bus3,
  .bus4 {
    margin: 0;
    padding: 10px;
  }

  .top-over-details-part {
    padding: 240px 0px 100px;
  }
}

@media (max-width: 767px) {
  body .bce,
  .chem,
  .math,
  .ntf,
  .phy {
    padding: 0px 10px 0px !important;
  }
  .cpy-rgt {
    font-size: 12px;
  }

  .foot_bg img {
    max-width: 100% !important;
  }
  .developedBy ul {
    padding: 0 15px !important;
  }
  .bus1,
  .bus2,
  .bus3,
  .bus4 {
    margin: 0;
    padding: 10px;
  }
  .dev-card {
    margin-top: 20px;
  }
}

@media (max-width: 599px) {
  .banner {
    background-position: bottom;
    width: 100%;
  }
  .banner p {
    font-size: 14px;
  }
  .banner-overlay {
    padding: 100px 15px;
    width: 100%;
  }
  .dev-icon {
    margin: 150px 0px 30px;
  }
  .social {
    padding: 0;
  }
  .foot_bg img {
    max-width: 100% !important;
  }
  .btn {
    margin-top: 0px;
    padding: 7px 15px;
    background-color: transparent;
    border-radius: 25px;
    -webkit-transition: all linear 0.5s;
    transition: all linear 0.5s;
  }
  header {
    padding: 30px 0px 40px !important;
    padding: 10px 0px;
  }
  .syllabus {
    padding: 0;
  }
  .card {
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 30px 0px;
  }

  .bce,
  .chem,
  .math,
  .ntf,
  .phy {
    margin-top: 150px;
  }
  .sylb {
    margin-top: 150px;
  }
  .bus-route {
    margin-top: 150px;
  }
  .bus-route img {
    max-width: 90%;
  }
  .section-title h1 {
    font-size: 30px !important;
    font-size: 20px;
    margin-top: 20px;
  }
  .overlaybttn a i,
  .overlaybttn a span {
    font-size: 15px !important;
  }
  section {
    padding: 0px;
  }
  section table tr th {
    font-size: 16px !important;
    padding: 10px 5px;
    width: 100%;
    font-size: 12px;
  }
  section table tr th:first-child,
  section table tr th:nth-child(2) {
    width: 50% !important;
  }
  section table tr td {
    width: 100%;
  }
  section table tr td:first-child,
  section table tr td:nth-child(2) {
    width: 50% !important;
  }
  footer {
    position: relative;
  }
  footer .overlaybttn {
    position: absolute;
    right: 0px;
    bottom: 60px;
  }
  footer ul li span {
    font-size: 18px;
  }
  footer ul li a {
    font-size: 15px;
  }
  footer ul li h4 {
    font-size: 17px;
  }
  footer ul li h5 {
    font-size: 16px;
  }
  .logo {
    width: 100%;
  }
  .logo img {
    width: 30%;
    margin: auto;
  }
  .header-title {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  h4,
  h5 {
    font-size: 18px;
  }
  .details_content {
    padding: 20px;
  }
  .details {
    padding: 10px 0px;
  }
  .developedBy p {
    padding: 18px 18px 0px;
    font-size: 14px;
  }

  .sylb table tr td:first-child,
  section table tr td:nth-child(2) {
    width: 50% !important;
  }
  .sylb .section-title {
    width: 100%;
    padding: 10px 0px 40px;
    font-size: 48px;
    margin-top: 100px;
  }

  .sylb h2 {
    font-weight: 900;
    font-size: 26px;
    font-weight: 400;
  }
  .dev-card {
    margin-top: 20px;
  }
  .bus-route .card {
    padding: 30px 10px 50px;
  }

  .navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
    text-align: center;
    background-color: #16443eda !important;
  }
  .top-over-details-part {
    padding: 185px 0px 120px;
  }
  .top-over-details-part h1 {
    font-size: 30px;
  }

  .top-over-details-part p {
    font-size: 16px;
    text-align: justify;
    padding: 30px;
  }
}
